<footer class="page-footer" id="footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">{{ 'footer.biography' | translate }}</h5>
                <p class="grey-text text-lighten-4"> {{ 'footer.bio' | translate }}. </p>

                {{ 'footer.madeBy' | translate }}
                <a class="orange-text text-lighten-3" href="https://github.com/rhonalchirinos">
                    Rhonal Chirinos INC
                </a>
            </div>
            <div class="col l6 s12 right-align">
                <h5 class="white-text">{{'footer.contactMe' | translate }}</h5>

                <ul>
                    <li>
                        <a class="white-text" target="_blank" href="https://www.linkedin.com/in/rhonal"
                            style="margin-left: 20px">
                            <img src="/assets/images/linkedin.png" width="40px">
                        </a>
                        <a class="white-text" target="_blank" href="https://wa.me/+584121501269"
                            style="margin-left: 20px">
                            <img src="/assets/images/ws.png" width="40px">
                        </a>
                        <a class="white-text" target="_blank" href="https://t.me/rhonalchirinos"
                            style="margin-left: 20px">
                            <img src="/assets/images/telegram.png" width="40px">
                        </a>
                    </li>
                </ul>
                <p> <strong>rhonalchirinos@gmail.com</strong></p>
                <p> <strong>+584121501269</strong></p>
            </div>
        </div>
    </div>
</footer>