
  nav {
    .brand-logo {
      img {
        width: 25px;
        height: 40px;
        margin-top: 10px;
      }
    }
  }


.top {
  nav {
    ///height: 100px;
    // line-height: 100px;

    .brand-logo {
      img {
        width: 25px;
        height: 40px;
        margin-top: 10px;
      }
    }
  }
}
