nav {
  .brand-logo {
    img {
      width: 25px;
      height: 40px;
      margin-top: 10px;
    }
  }
}

.top {
  nav {
    ///height: 100px;
    // line-height: 100px;

    .brand-logo {
      img {
        width: 25px;
        height: 40px;
        margin-top: 10px;
      }
    }
  }
}

@media only screen and (max-width: 992px) {
  .brand-logo {
    img {
      height: 35px;
    }
  }

  .show {
    display: block !important;
    float: left !important;
    width: 100%;
    background: black;
    list-style-type: unset;
    li {
      transition: unset;
      float: unset;
      padding: unset;
    }
  }
}

.navbar-item {
  &:hover {
    background: white !important;
    color: black !important;
  }
}
