<div class="navbar-fixed" [class.top]="isTop" (window:scroll)="onScroll($event)">
  <nav role="navigation" class="black">
    <div class="nav-wrapper container">
      <a href="#" class="brand-logo">
        <img src="/assets/images/rho.png">
      </a>

      <a class="sidenav-trigger" (click)="onShowMenu()">
        <i class="fa fa-bars" aria-hidden="true"></i>
      </a>


      <ul class="right hide-on-med-and-down" [class.show]="showMenu">
        <li><a class="navbar-item" href="#home" [translate]="'navbar.home'"></a></li>
        <li><a class="navbar-item" href="#about-me" [translate]="'navbar.about-me'"></a></li>
        <li><a class="navbar-item" href="#edutacion" [translate]="'navbar.edutacion'"></a></li>
        <li><a class="navbar-item" href="#skills" [translate]="'navbar.skills'"></a></li>
        <li><a class="navbar-item" href="#porfolio" [translate]="'navbar.porfolio'"></a></li>
        <!-- <li><a class="navbar-item"  href="#article" [translate]="'navbar.article'"></a></li> -->
        <li><a class="navbar-item" href="#footer" [translate]="'navbar.contact-me'"></a></li>
        <li>
          <app-select-language (onChange)="onChangeLanguge($event)" [currentLanguage]="language"></app-select-language>
        </li>
      </ul>

    </div>
  </nav>

</div>