<div class="col-12">
    <p style="margin-top: 3rem; font-size: 20px;">
        <fa-icon [icon]="faBookReader"></fa-icon>
        <strong> Portafolio</strong>
    </p>
</div>

<div class="row mb-2 py-4">
    <div class="col-md-12">
        <h3 class="header">Paga con Rappi-Prestashop</h3>
        <img class="p-4" src="/assets/images/porfolio/rappipaiold.png" style="width: 350px; float: right;">
        <p class="p-4">
            <strong>Modulo oficial de Rappi para Prestashop</strong>, recibe pagos en tu comercio electrónico y
            aumenta
            tus ventas con el boton de pago expres, pueden encontrar este modulo en la tienda oficial de prestashop.
            <br />
            <span> Desarrollador Full stack</span>
            <br />
            <span class="badge badge-primary">PHP 7.1 / PHP 7.2</span>
        </p>
    </div>
</div>

<div class="row mb-2 py-4">
    <div class="col-md-12">
        <h3 class="header">Integración Peya-Delosi</h3>
        <img class="p-4" src="/assets/images/porfolio/peya.png" style="width: 350px; float: left;">
        <p class="p-4">
            <strong>Integración entre Pedidos Ya y Grupo Delosi</strong> “ franquicias Starbucks, KFC, Chili's,
            Pizza
            hut, Burger King en
            Peru”, la integración consiste de un middleware y un panel administrativo para la visualizacion de
            operaciones el flujo de aproximado es de 1.500 operaciones diarias, se utilizaron colas de procesos, mi
            rol
            fue como Desarrollador Full Stack.
            <br />
            <span> Desarrollador Full stack</span>
            <br />
            <span class="badge badge-primary mr-1">PHP 7.4</span>
            <span class="badge badge-primary mr-1">Laravel 6.2</span>
            <span class="badge badge-primary mr-1">Vuejs</span>
            <span class="badge badge-primary mr-1">Redis</span>
            <span class="badge badge-primary mr-1">Horizon</span>
            <span class="badge badge-primary mr-1">Servidores Linux</span>
        </p>
    </div>
</div>

<div class="row mb-2 py-4">
    <div class="col-md-12">
        <h3 class="header">Glovo Business-Prestashop</h3>
        <img class="p-4" src="/assets/images/porfolio/glovo.png" style="width: 200px; float: right;">
        <p class="p-4">
            <strong>Modulo oficial de Glovo para Prestashop</strong>, permite que tus clientes realicen envíos a
            través
            de Glovo
            Business, Integración entre Glovo y Prestashop.
            <br />
            <span> Desarrollador Full stack</span>
            <br />
            <span class="badge badge-primary">PHP 7.1 / PHP 7.2</span>
        </p>
    </div>
</div>

<div class="row mb-2 py-4">
    <div class="col-md-12">
        <h3 class="header">Integración Glovo-Telepizza</h3>
        <img class="p-4" src="/assets/images/porfolio/glovo-telepizza.png" style="width: 350px; float: left;">
        <p class="p-4">
            Integración entre Glovo y Telepizza “Propietarios de Telepizza y Pizza Hut en Espana y Portugal”, Mi
            papel
            para este proyecto fue como Lider de proyecto, el mismo consisten de un middleware de integración y un
            panel
            para facilitar la actualización de menú en las mas de 150 tiendas, el mismo tiene un flujo aproximado de
            2400 operaciones diarias, para soportar dicha cantidad de transacciones se utilizo colas de procesos.
            <br />
            <span> Desarrollador Full stack</span>
            <br />
            <span class="badge badge-primary mr-1">PHP 7.2</span>
            <span class="badge badge-primary mr-1">PHP 7.2</span>
            <span class="badge badge-primary mr-1">Laravel 5.8</span>
            <span class="badge badge-primary mr-1">Vuejs</span>
            <span class="badge badge-primary mr-1">Redis</span>
            <span class="badge badge-primary mr-1">Horizon</span>
            <span class="badge badge-primary mr-1">Servidores Linux.</span>
        </p>
    </div>
</div>


<div class="row mb-2 py-4">
    <div class="col-md-12">
        <h3 class="header">Enviamelo</h3>
        <img class="p-4" src="/assets/images/porfolio/enviamelo2.png" style="width: 350px; float: right;">
        <p class="p-4">
            Sistema de envíos y tracking para empresa de envíos de Argentina con mas de
            150 puntos de colecta y servicio de delivery, el mismo cuenta con una API para
            integración con Tienda Nube, Prestashop, Woocommerce y otros ecommerces, integración
            con Mercado pago, Keops "sistema de facturacion", Unigis "sistema de tracking de pedidos",
            mi desempeño fue como Desarrollador Full stack en los 3 componenes panel
            administrativo, web site, Api de servicios.
            <br />
            <span> Desarrollador Full stack</span>
            <br />
            <span class="badge badge-primary mr-1">PHP 7.2</span>
            <span class="badge badge-primary mr-1">Laravel 6.2 </span>
            <span class="badge badge-primary mr-1">Vuejs</span>
            <span class="badge badge-primary mr-1">Redis</span>
            <span class="badge badge-primary mr-1">Horizon</span>
            <span class="badge badge-primary mr-1">Servidores Linux. </span>
        </p>
    </div>
</div>

<div class="row mb-2 py-4">
    <div class="col-md-12">
        <h3 class="header">Glovo-Delosi</h3>
        <img class="p-4" src="/assets/images/porfolio/glovo-delosi.png" style="width: 270px; float: left;">
        <p class="p-4">
            Integración entre Glovo y Delosi “KFC, PH, BK, Starbucks”, la integracion
            consiste de un middleware y un panel administrativo para la visualizacion de operaciones el
            flujo de aproximado es de 1200 operaciones diarias, se utilizaron colas de procesos.
            <br />
            <span> Desarrollador Full stack</span>
            <br />
            <span class="badge badge-primary mr-1">PHP 7.2</span>
            <span class="badge badge-primary mr-1">Laravel 6.2 </span>
            <span class="badge badge-primary mr-1">Vuejs</span>
            <span class="badge badge-primary mr-1">Redis</span>
            <span class="badge badge-primary mr-1">Horizon</span>
            <span class="badge badge-primary mr-1">Servidores Linux. </span>
        </p>
    </div>
</div>

<div class="row mb-2 py-4">
    <div class="col-md-12">
        <h3 class="header">Zaga Sport</h3>
        <img class="p-4" src="/assets/images/porfolio/zagasport.png" style="width: 250px; float: right;">
        <p class="p-4">
            Aplicación dedicada a los amantes del mundo deportivo, arma tu perfil futbolero y invita a tu amigos a
            caimaneras, pública las mejores jugadas a través de vídeos, fotos y aumenta tu nivel obteniendo like en
            tus
            publicaciones Desarrollador Full stack, desarrolle los módulos de ubicación de imágenes, fotos, texto,
            comentarios,
            reportes de usuarios, reportes de
            publicaciones, bloqueo de usuarios, notificaciones y panel administrativo, fui el responsable de la
            puesta
            en marcha de ambientes de desarrollo y producción
            <br />
            <span> Desarrollador Full stack</span>
            <br />
            <span class="badge badge-primary mr-1">PHP 7.2</span>
            <span class="badge badge-primary mr-1">Laravel 6.2 </span>
            <span class="badge badge-primary mr-1">Angular</span>
            <span class="badge badge-primary mr-1">Ionic</span>
            <span class="badge badge-primary mr-1">Android</span>
            <span class="badge badge-primary mr-1">Redis</span>
            <span class="badge badge-primary mr-1">Horizon</span>
            <span class="badge badge-primary mr-1">Gcloud</span>
            <span class="badge badge-primary mr-1">Servidores Linux. </span>
        </p>
    </div>
</div>

<div class="row mb-2 py-4">
    <div class="col-md-12">
        <h3 class="header">CBS financial cpa</h3>
        <img class="p-4" src="/assets/images/porfolio/cbs.png" style="width: 100%;" style="width: 180px; float: left;">
        <p class="p-4">
            Control de citas y documentos
            <br />
            <span>Líder de desarrollo, gestión de tareas de los desarrolladores, avances de la aplicación y puesta
                en
                producción
            </span>
            <br />
            <span class="badge badge-primary mr-1">PHP 7.2</span>
            <span class="badge badge-primary mr-1"> Laravel 5.8</span>
            <span class="badge badge-primary mr-1">Angular</span>
            <span class="badge badge-primary mr-1">Redis</span>
            <span class="badge badge-primary mr-1">Horizon</span>
            <span class="badge badge-primary mr-1">Servidores Linux. </span>
        </p>
    </div>
</div>

<div class="row mb-2 py-4">
    <div class="col-md-12">
        <h3 class="header">Smart Market</h3>
        <img class="p-4" src="/assets/images/porfolio/icon.png" style="width: 220px; float: right;">
        <p class="p-4">
            Aplicación para gestionar compras a travésde app Desarrollador Full Stack, desarrollo de todos los
            modulos
            de la aplicación asi como integración con método de pago
            <br />
            <span> Desarrollador Full stack</span>
            <br />
            <span class="badge badge-primary mr-1">PHP 7.0</span>
            <span class="badge badge-primary mr-1">Laravel 5.7</span>
            <span class="badge badge-primary mr-1">Angular</span>
            <span class="badge badge-primary mr-1"> Ionic 3</span>
            <span class="badge badge-primary mr-1"> Android</span>
            <span class="badge badge-primary mr-1">Redis</span>
            <span class="badge badge-primary mr-1">Horizon</span>
            <span class="badge badge-primary mr-1">Servidores Linux. </span>
        </p>
    </div>
</div>

<div class="row mb-2 py-4">
    <div class="col-md-12">
        <h3 class="header">Mueve te mueve</h3>
        <p class="p-4">
            Gestión de flota vehicular, lleve el control de su
            flota de transporte en tiempo real
            <br />
            <span> Desarrollador Full stack</span>
            <br />
            <span class="badge badge-primary mr-1"> Angular</span>
            <span class="badge badge-primary mr-1"> Express</span>
            <span class="badge badge-primary mr-1"> SocketIo</span>
            <span class="badge badge-primary mr-1"> Nodejs</span>
            <span class="badge badge-primary mr-1"> Servidores Linux</span>
        </p>
    </div>
</div>

<div class="row mb-2 py-4">
    <div class="col-md-12">
        <h3 class="header">Goldex</h3>
        <p class="p-4">
            Control de Cobros de prestamos de Joyería Goldex
            <br />
            <span> Desarrollador Full stack</span>
            <br />
            <span class="badge badge-primary mr-1">PHP 7.2</span>
            <span class="badge badge-primary mr-1">Laravel 5.2</span>
        </p>
    </div>
</div>

<div class="row mb-2 py-4">
    <div class="col-md-12">
        <h3 class="header">Renacer</h3>
        <p class="p-4">
            Sistema de gestión de funerarias, Gestión de operaciones, facturación, almacén, cobradores y control de
            cobros a clientes
            <br />
            <span> Desarrollador Full stack</span>
            <br />
            <span class="badge badge-primary mr-1">Desarrollador Full Stack</span>
            <span class="badge badge-primary mr-1">Ruby on Rails</span>
            <span class="badge badge-primary mr-1">Postgres</span>
            <span class="badge badge-primary mr-1">Ruby</span>
            <span class="badge badge-primary mr-1">Colas de Proceso</span>
            <span class="badge badge-primary mr-1">Servidores Linux </span>
        </p>
    </div>
</div>

<div class="row mb-2 py-4">
    <div class="col-md-12">
        <h3 class="header">Gorrion</h3>
        <p class="p-4">
            Modulo de gestión de inventarios a sistema administrativos
            <br />
            <span> Desarrollador Full stack</span>
            <br />
            <span class="badge badge-primary mr-1">Desarrollador Full Stack</span>
            <span class="badge badge-primary mr-1">Ruby on Rails</span>
            <span class="badge badge-primary mr-1">Postgres</span>
            <span class="badge badge-primary mr-1">Ruby</span>
            <span class="badge badge-primary mr-1">Colas de Proceso</span>
            <span class="badge badge-primary mr-1">Servidores Linux </span>
        </p>
    </div>
</div>

<div class="row mb-2 py-4">
    <div class="col-md-12">
        <h3 class="header">Demeter</h3>
        <p class="p-4">
            Sistema de gestión administrativa, modulo de facturación, notas de crédito, notas de débito, puesta en
            marcha
            <br />
            <span> Desarrollador Full stack</span>
            <br />
            <span class="badge badge-primary mr-1">Java</span>
            <span class="badge badge-primary mr-1">Zk</span>
            <span class="badge badge-primary mr-1">Hibernate</span>
            <span class="badge badge-primary mr-1">Spring</span>
            <span class="badge badge-primary mr-1">Postgres SQl</span>
            <span class="badge badge-primary mr-1">Servidores Linux</span>
        </p>
    </div>
</div>