<section>
    <div class="row">
        <div class="col-md-8 col-sm-12">
            <p>
                <fa-icon [icon]="faGraduationCap"></fa-icon>
                <strong> Estudios Formales</strong>
            </p>
            <p>
                Realice estudios en la <a href="http://www.ucla.edu.ve/" target="_blank"> Universidad Centroccidental
                    Lisandro Alvarado </a> donde puede obtener los siguienes titulos universitarios
            </p>
            <ul>
                <li>
                    <p>
                        <strong> Ingeniería en Informática </strong>
                        <br />
                        <small> Julio 2018</small>
                    </p>
                </li>
                <li>
                    <p>
                        <strong> Analista de Sistema </strong> <br />
                        <small> Diciembre 2012 </small>
                    </p>
                </li>
            </ul>
            <p>
                <fa-icon [icon]="faAward"></fa-icon> Reconocimientos
            </p>
            <ul>
                <li>
                    <p>
                        <strong>Segundo promedio </strong> de la Sexagésima Quinta Promoción de Analistas de Sistemas.
                    </p>
                </li>
                <li>
                    <p>
                        <strong>Alto Desempeño </strong> Asignatura Introducción a los Sistemas de Internet,
                        Sistema de Base de Datos y
                        Sistema de Información.
                    </p>
                </li>
                <li>
                    <p>
                        <strong> 2011 UCLA ACM Local Programming Contest </strong> – UCLA Barquisimeto estado Lara
                    </p>
                </li>
            </ul>
            <p>
                <fa-icon [icon]="faUniversity"></fa-icon> Otros Estudios
            </p>
            <ul>
                <li>
                    <p>
                        <a href="https://university.mongodb.com/course_completion/e4d7bc7b-a88c-4f95-8422-ae43ce970fd7/printable"
                            target="_blank">
                            M001: MongoDB Basics.
                        </a>
                    </p>
                </li>
                <li>
                    <p>
                        <a href="https://university.mongodb.com/course_completion/300cc8c4-d201-4bef-bcee-c9bafaf6c109/printable"
                            target="_blank">
                            M040: New Features and Tools in MongoDB 4.0
                        </a>
                    </p>
                </li>
                <li>
                    <p>
                        <a href="https://university.mongodb.com/course_completion/79046d9a-76c0-4658-a549-996db55d3991/printable"
                            target="_blank">
                            M103: Basic Cluster Administration
                        </a>
                    </p>
                </li>
            </ul>
        </div>
        <div class="col-md-4 d-none d-sm-block d-sm-none d-md-block">
            <div class="text-center mt-5">
                <img class="rounded" src="/assets/images/ucla.png">
            </div>
        </div>
    </div>
</section>