.active {
  opacity: 1 !important;
}

li {
  background: #300a24;
}

.indicators {
  background: white;
  text-align: center;
  cursor: pointer;
  li {
    background: white;
      display: inline;
    margin-right: 5px
  }
}
