.active {
  opacity: 1 !important;
}

li {
  background: #300a24;
}

.indicators {
  background: white;
  text-align: center;
  cursor: pointer;
  li {
    background: white;
      display: inline;
    margin-right: 5px
  }
}

.slider {
  position: relative;
  height: 600px;
  width: 100%;
}

.slider .slides {
  background-color: #9e9e9e;
  margin: 0;
  height: 600px;
}