<div class="slider">
    <ul class="slides">
        <ng-container>
            <li *ngFor="let item of sliders" [ngClass]="{'active' : show === item }">
                <ng-container *ngIf="item.type === 'html' ; else sliderImagen">
                    <app-my-self> </app-my-self>
                </ng-container>
                <ng-template #sliderImagen>
                    <img [src]="item.src">
                    <div class="caption left-align">
                        <h3>{{item.title}}</h3>
                        <h5 class="light grey-text text-lighten-3">{{item.caption}}</h5>
                    </div>
                </ng-template>
            </li>
        </ng-container>
    </ul>
</div>
<div>
    <ul class="indicators">
        <ng-container>
            <li class="indicator-item" *ngFor="let item of sliders; let i = index">
                <i (click)="active(i)" class="fa " aria-hidden="true"
                    [ngClass]="{'fa-circle' : show === item, 'fa-circle-o' : show !== item }">
                </i>
            </li>
        </ng-container>
    </ul>
</div>