<footer>
    <div class="container">
        <div class=" d-none d-sm-block d-sm-none d-md-block">
            <div class="row pt-5">
                <div class="col-md-4">
                    <div class="text-left">
                        <a class="white-text" target="_blank" href="https://www.linkedin.com/in/rhonal"
                            style="margin-left: 20px">
                            <fa-icon [icon]="faLinkedin" size="2x" [styles]="{ 'stroke': 'white', 'color': 'white'}">
                            </fa-icon>
                        </a>
                        <a class="white-text" target="_blank" href="https://wa.me/+584121501269"
                            style="margin-left: 20px">
                            <fa-icon [icon]="faWhatsapp" size="2x" [styles]="{ 'stroke': 'white', 'color': 'white'}">
                            </fa-icon>
                        </a>
                        <a class="white-text" target="_blank" href="https://t.me/rhonalchirinos"
                            style="margin-left: 20px">
                            <fa-icon [icon]="faTelegram" size="2x" [styles]="{ 'stroke': 'white', 'color': 'white'}">
                            </fa-icon>
                        </a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <p class="text-center">
                        All rights reserved. Powered by Rhonal Chirinos
                        <br />
                        <fa-icon [icon]="faCopyright"></fa-icon> Copyrigth 2020
                    </p>
                </div>
                <div class="col-md-4 col-sm-6">
                    <p class="text-right">
                        Contáctame
                        <br />
                        rhonalchirinos@gmail.com
                        <br />
                        +584121501269
                    </p>
                </div>
            </div>
        </div>
        <div class="d-sm-block d-md-none">
            <div class="row">
                <div class="col-sm-12 pb-3 pt-5 mt-3">
                    <div class="text-center">
                        <a class="white-text" target="_blank" href="https://www.linkedin.com/in/rhonal"
                            style="margin-left: 20px">
                            <fa-icon [icon]="faLinkedin" size="2x" [styles]="{ 'stroke': 'white', 'color': 'white'}">
                            </fa-icon>
                        </a>
                        <a class="white-text" target="_blank" href="https://wa.me/+584121501269"
                            style="margin-left: 20px">
                            <fa-icon [icon]="faWhatsapp" size="2x" [styles]="{ 'stroke': 'white', 'color': 'white'}">
                            </fa-icon>
                        </a>
                        <a class="white-text" target="_blank" href="https://t.me/rhonalchirinos"
                            style="margin-left: 20px">
                            <fa-icon [icon]="faTelegram" size="2x" [styles]="{ 'stroke': 'white', 'color': 'white'}">
                            </fa-icon>
                        </a>
                    </div>
                </div>
                <div class="col-sm-12 pb-3">
                    <p class="text-center">
                        Contáctame
                        <br />
                        rhonalchirinos@gmail.com
                        <br />
                        +584121501269
                    </p>
                </div>
                <div class="col-sm-12 pb-5 mb-4">
                    <p class="text-center">
                        All rights reserved. Powered by Rhonal Chirinos
                        <br />
                        <fa-icon [icon]="faCopyright"></fa-icon> Copyrigth 2020
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>