#skills {
  .skill {
    .progress {
      margin-bottom: 4px;
    }
    span {
        font-size: 12px;
        font-weight: bold;
        color: gray;

    }
    .card-title{
        text-align: center;
        font-size: 14px;
    }
  }
}
