<!-- 
    
    <div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <br><br>
        <h1 class="header center orange-text">Starter Template</h1>
        <div class="row center">
            <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
        </div>
        <div class="row center">
            <a href="http://materializecss.com/getting-started.html" id="download-button"
                class="btn-large waves-effect waves-light orange">Get Started</a>
        </div>
        <br><br>

    </div>
</div>

<div class="container">
    <div class="section">
 <div class="row">
    <div class="col s12 m4">
        <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Speeds up development</h5>

            <p class="light">We did most of the heavy lifting for you to provide a default stylings that
                incorporate our custom components. Additionally, we refined animations and transitions to
                provide a smoother experience for developers.</p>
        </div>
    </div>

    <div class="col s12 m4">
        <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
            <h5 class="center">User Experience Focused</h5>

            <p class="light">By utilizing elements and principles of Material Design, we were able to create a
                framework that incorporates components and animations that provide more feedback to users.
                Additionally, a single underlying responsive system across all platforms allow for a more
                unified user experience.</p>
        </div>
    </div>

    <div class="col s12 m4">
        <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Easy to work with</h5>

            <p class="light">We have provided detailed documentation as well as specific code examples to help
                new users get started. We are also always open to feedback and can answer any questions a user
                may have about Materialize.</p>
        </div>
    </div>
</div>
</div>
</div>

-->

<section id="home" style="margin-top: 35px">
    <app-slider></app-slider>
</section>

<section id="about-me">
    <div class="container">
        <div class="row">
            <h3>
                <img src="/assets/images/perfil.png" style="width: 42px;">
                {{ 'navbar.about-me'  | translate }}
            </h3>
        </div>
        <div class="row">
            <div class="col s12 m6 l6">
                <p>
                    <strong>{{ 'aboutMe.name' | translate }}: </strong>
                    Rhonal Alfredo Chirinos Rodriguez
                </p>

                <p>
                    <strong>{{ 'aboutMe.languages' | translate }}: </strong>
                    {{ 'aboutMe.myLanguages' | translate }}
                </p>
                <p>
                    <strong>{{ 'aboutMe.birthdate' | translate }}: </strong>
                    26/08/1990
                </p>

                <p>
                    <strong>{{ 'aboutMe.email' | translate }}: </strong>
                    rhonalchirinos@gmail.com
                </p>
                <p>
                    <strong>{{ 'aboutMe.passport' | translate }}: </strong>
                    {{ 'aboutMe.yes' | translate }}
                </p>
            </div>
            <div class="col s12 m6 l6">
                <p>
                    <strong>{{ 'aboutMe.hobbies' | translate }}: </strong>
                    {{ 'aboutMe.myHobbies' | translate }}
                </p>
                <p>
                    <strong>{{ 'aboutMe.address' | translate }}: </strong>
                    Barrio el jebe sector la estrella Barquisimeto,
                    Lara, Venezuela 3001.
                </p>

                <p>
                    <strong>{{ 'aboutMe.biography' | translate }}: </strong>
                    {{'aboutMe.bio' | translate  }}.
                </p>

 
            </div>
        </div>
    </div>
</section>

<section id="edutacion">
    <div class="container">
        <div class="row">
            <h3>
                <img src="/assets/images/toga.png" style="width: 42px;">
                {{ 'navbar.edutacion'  | translate }}
            </h3>
        </div>
        <div class="row">
            <div class="col s3 m3 l3  valign-wrapper">
                <img class="responsive-img" src="/assets/images/ucla.png">
            </div>
            <div class="col s9 m9 l9">
                <div class="collection">
                    <div class="collection-item">
                        <h3 style="font-size: 1.2rem;">
                            <strong> {{ 'edutacion.engineering'  | translate }} </strong>
                            <span style="display: block;  color: #9E9E9E;  margin-top: 10px; ">
                                <small> {{ 'edutacion.july'  | translate }} 2018 </small>
                            </span>
                        </h3>
                    </div>

                    <div class="collection-item">
                        <h3 style="font-size: 1.2rem;">
                            <strong> {{ 'edutacion.system'  | translate }} </strong>
                            <span style="display: block;  color: #9E9E9E;  margin-top: 10px; ">
                                <small> {{ 'edutacion.december'  | translate }} 2012 </small>
                            </span>
                        </h3>
                        <ul>
                            <li class="collection-item">
                                {{ 'edutacion.average'  | translate }}.
                            </li>
                            <li class="collection-item">
                                {{ 'edutacion.performance'  | translate }}.
                            </li>
                            <li class="collection-item">
                                {{ 'edutacion.contest'  | translate }}.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="skills">
    <div class="container">
        <div class="row">
            <h3>
                <img src="/assets/images/skill.png" style="width: 42px;">
                {{ 'navbar.skills'  | translate }}
            </h3>
        </div>
        <div class="row">
            <div class="col s6 m4 l3" *ngFor="let item of skills">
                <div class="card skill">
                    <div class="card-image">
                        <img [src]="item.img">
                    </div>
                    <div class="card-content">
                        <span class="card-title">{{item.title}}</span>
                        <div>
                            <div class="progress">
                                <div class="determinate" [style.width.%]="item.percentage"></div>
                            </div>
                            <span> {{ 'skills.knowledgeLevel' | translate  }}</span>
                            <span style="float:right"> {{item.percentage}} %</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




<section id="porfolio">
    <div class="container">
        <div class="row">
            <h3>
                <img src="/assets/images/porfolio.png" style="width: 42px;">
                {{ 'navbar.porfolio'  | translate }}
            </h3>
        </div>
        <div class="row">





        </div>
    </div>
</section>