<section id="home">
    <app-slider></app-slider>
</section>

<section id="about-me">
    <div class="container">
        <div class="row">
            <h3 class="title-top">
                <img src="/assets/images/perfil.png">
                {{ 'navbar.about-me'  | translate }}
            </h3>
        </div>
        <div class="row">
            <div class="col s12 m6 l6">
                <p>
                    <strong>{{ 'aboutMe.name' | translate }}: </strong>
                    Rhonal Alfredo Chirinos Rodriguez
                </p>

                <p>
                    <strong>{{ 'aboutMe.languages' | translate }}: </strong>
                    {{ 'aboutMe.myLanguages' | translate }}
                </p>
                <p>
                    <strong>{{ 'aboutMe.birthdate' | translate }}: </strong>
                    26/08/1990
                </p>

                <p>
                    <strong>{{ 'aboutMe.email' | translate }}: </strong>
                    rhonalchirinos@gmail.com
                </p>
                <p>
                    <strong>{{ 'aboutMe.passport' | translate }}: </strong>
                    {{ 'aboutMe.yes' | translate }}
                </p>
                <p>
                    <strong>{{ 'aboutMe.backend' | translate }}: </strong>
                    100%
                </p>

            </div>
            <div class="col s12 m6 l6">
                <p>
                    <strong>{{ 'aboutMe.hobbies' | translate }}: </strong>
                    {{ 'aboutMe.myHobbies' | translate }}
                </p>
                <p>
                    <strong>{{ 'aboutMe.address' | translate }}: </strong>
                    Barrio el jebe sector la estrella Barquisimeto,
                    Lara, Venezuela 3001.
                </p>
                <p>
                    <strong>{{ 'aboutMe.biography' | translate }}: </strong>
                    {{'aboutMe.bio' | translate  }}.
                </p>
            </div>
        </div>
    </div>
</section>

<section id="edutacion">
    <div class="container">
        <div class="row">
            <h3 class="title-top">
                <img src="/assets/images/toga.png">
                {{ 'navbar.edutacion'  | translate }}
            </h3>
        </div>
        <div class="row">
            <div class="col s12 m12 l12">
                <div class="card horizontal">
                    <div class="card-image">
                        <img class="responsive-img" style="width: 200px;" src="/assets/images/ucla.png">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <div>
                                <h3 style="font-size: 1.2rem;">
                                    <strong> {{ 'edutacion.engineering'  | translate }} </strong>
                                    <span style="display: block;  color: #9E9E9E;  margin-top: 10px; ">
                                        <small> {{ 'edutacion.july'  | translate }} 2018 </small>
                                    </span>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col s12 m12 l12">
                <div class="card horizontal">
                    <div class="card-image">
                        <img class="responsive-img" style="width: 200px;" src="/assets/images/ucla.png">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <div>
                                <h3 style="font-size: 1.2rem;">
                                    <strong> {{ 'edutacion.system'  | translate }} </strong>
                                    <span style="display: block;  color: #9E9E9E;  margin-top: 10px; ">
                                        <small> {{ 'edutacion.december'  | translate }} 2012 </small>
                                    </span>
                                </h3>
                                <ul class="education-list">
                                    <li class="collection-item">
                                        {{ 'edutacion.average'  | translate }}.
                                    </li>
                                    <li class="collection-item">
                                        {{ 'edutacion.performance'  | translate }}.
                                    </li>
                                    <li class="collection-item">
                                        {{ 'edutacion.contest'  | translate }}.
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <div class="col s12 m12 l12">
                <div class="card horizontal">
                    <div class="card-image">
                        <img class="responsive-img" style="width: 200px;" src="/assets/images/mongo-db-logo.png">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <div>
                                <h3 style="font-size: 1.2rem;">
                                    <strong> Mongo University </strong>
                                </h3>
                                <ul class="education-list">
                                    <li class="collection-item">
                                        <a target="_blank"
                                            href="https://university.mongodb.com/course_completion/e4d7bc7b-a88c-4f95-8422-ae43ce970fd7/printable">
                                            M001: MongoDB Basics.
                                        </a> 
                                    </li>
                                    <li class="collection-item">
                                        <a target="_blank"
                                            href="https://university.mongodb.com/course_completion/300cc8c4-d201-4bef-bcee-c9bafaf6c109/printable">
                                            M040: New Features and Tools in MongoDB 4.0
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section id="skills">
    <div class="container">
        <div class="row">
            <h3 class="title-top">
                <img src="/assets/images/skill.png">
                {{ 'navbar.skills'  | translate }}
            </h3>
        </div>
        <div class="row">
            <div class="col s6 m4 l3" *ngFor="let item of skills">
                <div class="card skill">
                    <div class="card-image">
                        <img [src]="item.img">
                    </div>
                    <div class="card-content">
                        <span class="card-title">{{item.title}}</span>
                        <div>
                            <div class="progress">
                                <div class="determinate" [style.width.%]="item.percentage"></div>
                            </div>
                            <span> {{ 'skills.knowledgeLevel' | translate  }}</span>
                            <span style="float:right"> {{item.percentage}} %</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="porfolio">
    <div class="container">
        <div class="row">
            <h3 class="title-top">
                <img src="/assets/images/porfolio.png" style="width: 20px;">
                {{ 'navbar.porfolio'  | translate }}
            </h3>
        </div>
        <div class="row">

            <div class="col s12 m12 l12">
                <div class="card horizontal">
                    <div class="card-image">
                        <img src="/assets/images/porfolio/glovo.png" width="40px">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <a href="https://glovodelosiback.ecomerciar.com" target="_blank">
                                <h2 class="header">{{ 'porfolio.glovoDelosi.title' | translate }}</h2>
                            </a>
                            <div class="description">
                                {{ 'porfolio.glovoDelosi.description' | translate }}
                            </div>

                            <div class="participation">
                                {{ 'porfolio.glovoDelosi.participation' | translate }}
                            </div>

                            <div class="tecnology">
                                {{ 'porfolio.glovoDelosi.tecnology' | translate }}
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col s12 m12 l12">
                <div class="card horizontal">
                    <div class="card-image">
                        <img src="/assets/images/porfolio/zagasport.png" width="40px">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">

                            <a href="https://play.google.com/store/apps/details?id=com.grupozagasystem.zagasport&hl=es"
                                target="_blank">
                                <h2 class="header">{{ 'porfolio.zagasport.title' | translate }}</h2>
                            </a>
                            <div class="description">
                                {{ 'porfolio.zagasport.description' | translate }}
                            </div>

                            <div class="participation">
                                {{ 'porfolio.zagasport.participation' | translate }}
                            </div>

                            <div class="tecnology">
                                {{ 'porfolio.zagasport.tecnology' | translate }}
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="col s12 m12 l12">
            <div class="card horizontal">
                <div class="card-image">
                    <img src="/assets/images/porfolio/enviamelo.png" width="40px">
                </div>
                <div class="card-stacked">
                    <div class="card-content">

                        <a href="https://enviamelo.com.ar/" target="_blank">
                            <h2 class="header">{{ 'porfolio.enviamelo.title' | translate }}</h2>
                        </a>
                        <div class="description">
                            {{ 'porfolio.enviamelo.description' | translate }}
                        </div>

                        <div class="participation">
                            {{ 'porfolio.enviamelo.participation' | translate }}
                        </div>

                        <div class="tecnology">
                            {{ 'porfolio.enviamelo.tecnology' | translate }}
                        </div>
                    </div>

                </div>

            </div>
        </div>

        <div class="col s12 m12 l12">
            <div class="card horizontal">
                <div class="card-image">
                    <img src="/assets/images/porfolio/cbs.png" width="40px">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <a href="https://app.cbsfinancialcpa.com" target="_blank">
                            <h2 class="header">{{ 'porfolio.cbs.title' | translate }}</h2>
                        </a>
                        <div class="description">
                            {{ 'porfolio.cbs.description' | translate }}
                        </div>

                        <div class="participation">
                            {{ 'porfolio.cbs.participation' | translate }}
                        </div>

                        <div class="tecnology">
                            {{ 'porfolio.cbs.tecnology' | translate }}
                        </div>
                    </div>

                </div>

            </div>
        </div>

        <div class="col s12 m12 l12">
            <div class="card horizontal">
                <div class="card-image">
                    <img src="/assets/images/porfolio/icon.png" width="40px">
                </div>
                <div class="card-stacked">
                    <div class="card-content">

                        <a href="https://play.google.com/store/apps/details?id=com.jorgealmao.smartmarket&hl=es"
                            target="_blank">
                            <h2 class="header">{{ 'porfolio.smartmarket.title' | translate }}</h2>
                        </a>
                        <div class="description">
                            {{ 'porfolio.smartmarket.description' | translate }}
                        </div>

                        <div class="participation">
                            {{ 'porfolio.smartmarket.participation' | translate }}
                        </div>

                        <div class="tecnology">
                            {{ 'porfolio.smartmarket.tecnology' | translate }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col s12 m12 l12" *ngIf="seeMore === false" style="margin-bottom: 50px;">

            <div style="text-align: center;">
                <button class="btn waves-effect black" (click)="onSeeMore()">
                    {{ 'seeMore' | translate }}
                </button>
            </div>

        </div>

        <div class="col s12 m12 l12" *ngIf="seeMore">
            <div class="card horizontal">
                <div class="card-image">
                    <img src="/assets/images/porfolio/nofount.png" width="40px">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <a href="#" target="_blank">
                            <h2 class="header">{{ 'porfolio.mueve.title' | translate }}</h2>
                        </a>
                        <div class="description">
                            {{ 'porfolio.mueve.description' | translate }}
                        </div>

                        <div class="participation">
                            {{ 'porfolio.mueve.participation' | translate }}
                        </div>

                        <div class="tecnology">
                            {{ 'porfolio.mueve.tecnology' | translate }}
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="col s12 m12 l12" *ngIf="seeMore">
            <div class="card horizontal">
                <div class="card-image">
                    <img src="/assets/images/porfolio/nofount.png" width="40px">
                </div>
                <div class="card-stacked">
                    <div class="card-content">

                        <a href="https://github.com/rhonalchirinos/goldex" target=" _blank">
                            <h2 class="header">{{ 'porfolio.goldex.title' | translate }}</h2>
                        </a>
                        <div class="description">
                            {{ 'porfolio.goldex.description' | translate }}
                        </div>

                        <div class="participation">
                            {{ 'porfolio.goldex.participation' | translate }}
                        </div>

                        <div class="tecnology">
                            {{ 'porfolio.goldex.tecnology' | translate }}
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="col s12 m12 l12" *ngIf="seeMore">
            <div class="card horizontal">
                <div class="card-image">
                    <img src="/assets/images/porfolio/nofount.png" width="40px">
                </div>
                <div class="card-stacked">
                    <div class="card-content">

                        <a href="https://github.com/rhonalchirinos/renacer" target=" _blank">
                            <h2 class="header">{{ 'porfolio.renacer.title' | translate }}</h2>
                        </a>
                        <div class="description">
                            {{ 'porfolio.renacer.description' | translate }}
                        </div>

                        <div class="participation">
                            {{ 'porfolio.renacer.participation' | translate }}
                        </div>

                        <div class="tecnology">
                            {{ 'porfolio.renacer.tecnology' | translate }}
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="col s12 m12 l12" *ngIf="seeMore">
            <div class="card horizontal">
                <div class="card-image">
                    <img src="/assets/images/porfolio/nofount.png" width="40px">
                </div>
                <div class="card-stacked">
                    <div class="card-content">

                        <a href="#" target=" _blank">
                            <h2 class="header">{{ 'porfolio.gorrion.title' | translate }}</h2>
                        </a>
                        <div class="description">
                            {{ 'porfolio.gorrion.description' | translate }}
                        </div>

                        <div class="participation">
                            {{ 'porfolio.gorrion.participation' | translate }}
                        </div>

                        <div class="tecnology">
                            {{ 'porfolio.gorrion.tecnology' | translate }}
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="col s12 m12 l12" *ngIf="seeMore">
            <div class="card horizontal">
                <div class="card-image">
                    <img src="/assets/images/porfolio/nofount.png" width="40px">
                </div>
                <div class="card-stacked">
                    <div class="card-content">

                        <a href="#" target=" _blank">
                            <h2 class="header">{{ 'porfolio.demeter.title' | translate }}</h2>
                        </a>
                        <div class="description">
                            {{ 'porfolio.demeter.description' | translate }}
                        </div>

                        <div class="participation">
                            {{ 'porfolio.demeter.participation' | translate }}
                        </div>

                        <div class="tecnology">
                            {{ 'porfolio.demeter.tecnology' | translate }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>