<div>
    <div class="row mb-2 py-5">
        <div class="col-md-12">
            <app-my-self></app-my-self>
        </div>
    </div>

    <div class="row mb-2 py-4">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h1> Rhonal Chirinos </h1>
                            <a class="btn btn-primary my-4" target="_blank" href="/assets/rhonalchirinos.pdf"
                                role="button">
                                <fa-icon [icon]="faDownload" size="1x"
                                    [styles]="{ 'stroke': 'white', 'color': 'white'}">
                                </fa-icon>
                                Descargar hoja de vida
                            </a>
                        </div>
                        <div class="col">
                            <p style="text-align: justify;">
                                Idiomas: Español (nativo), Ingles
                                <br />
                                Fecha de nacimiento: <strong>26/08/1990</strong>
                                <br />
                                Email: <strong> rhonalchirinos@gmail.com</strong>
                                <br />
                                Hobbies: Lectura, cine, fútbol, programar, cocinar
                                <br />
                                Dirección: Buenos Aires, Argentina.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>