<div class="row mb-2 py-5">
    <div class="col-md-12">
        <app-my-self></app-my-self>
    </div>
</div>

<div class="row mb-2 py-4">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h1> Rhonal Chirinos </h1>
                <div class="row">
                    <div class="col">
                        <a class="btn btn-primary my-4" target="_blank" href="/assets/rhonalchirinos.pdf" role="button">
                            <fa-icon [icon]="faDownload" size="1x" [styles]="{ 'stroke': 'white', 'color': 'white'}">
                            </fa-icon>
                            Descargar hoja de vida
                        </a>

                        <p style="text-align: justify;">
                            Idioma: <strong> Español (nativo)</strong>, Ingles
                            <br />
                            Fecha de nacimiento: <strong>26/08/1990</strong>
                            <br />
                            Email: <strong> rhonalchirinos@gmail.com</strong>
                            <br />
                            Hobbies: Lectura, cine, fútbol, programar, cocinar
                            <br />
                            Dirección: Tucuman 644, Microcentro CABA Argentina.
                        </p>
                    </div>
                    <div class="col">
                        <p style="text-align: justify;">
                            <strong>Biografía: </strong> Paciente, curioso, perfeccionista, creativo, siempre busco
                            soluciones simples, me
                            gusta
                            compartir mis conocimientos considero que aprendemos más enseñando, me gusta escuchar a las
                            personas
                            pero sobre todo motivar y crecer en equipo. Mis principales fortalezas en el área de
                            desarrollo son
                            diseño de bases de datos, integración con servicios externos, experiencia de usuario,
                            ejecución de
                            procesos de segundo plano entre otras cosas.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>