/* You can add global styles to this file, and also import other style files */

@import "~materialize-css";


@font-face {
  font-family: "ubuntu";
  src: url(/assets/fonts/ubuntu/Ubuntu-B.ttf) format("truetype");
}

@font-face {
  font-family: "ubuntu-l";
  src: url(/assets/fonts/ubuntu/Ubuntu-L.ttf) format("truetype");
}

html {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  scroll-behavior: smooth;
  font-size: 14px;
}
